<%= form_with model: user do |form| %>
    <ul>
        <% user.errors.full_messages.each do | message | %>
            <li><%= message %></li>
        <% end %>
    </ul>

    <%= form.label :username %>
    <%= form.text_field :username %>

    <%= form.label :email %>
    <%= form.email_field :email, placeholder: 'email@email.com' %>

    <%= form.label :password %>
    <%= form.password_field :password %>

    <%= form.submit %>
<% end %>